<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="tests">
            <directory>./Test/</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="SFTP" value="sftp://user:pass@localhost:22/path/to/ltsv"/>
    </php>

    <coverage>
        <include>
            <directory suffix=".php">../src</directory>
        </include>
    </coverage>
</phpunit>
